<template>
  <div>
    <slot name="before" />
    <base-button size="sm" type="info" @click="editButtonAction">
      <i class="ni ni-ruler-pencil"></i>
    </base-button>
    <base-button size="sm" type="danger" @click="deleteButtonAction">
      <i class="ni ni-fat-remove"></i>
    </base-button>
    <slot name="after" />
  </div>
</template>

<script>
export default {
  props: {
    moduleName: String,
    record: Object,
    formRecord: Object
  },

  methods: {
    editButtonAction() {
      this.$emit('fill-data', this.record)
      this.$store.commit('setShowModal', true)
      this.$store.commit('setIsEditing', true)
    },
    deleteButtonAction() {
      this.$store.dispatch(`${this.moduleName}/destroyData`, this.record)
    }
  }
}
</script>