<template>
  <div id="app">
    <v-navbar v-if="!$route.meta.hideNavigation" logo="logo-ut.png" />
    <hr />
    <router-view class="min-h-screen" />
    <v-footer v-if="!$route.meta.hideNavigation" />
  </div>
</template>

<script>
import VNavbar from "@/components/Navbar.vue";
import VFooter from "@/components/Footer.vue";
export default {
  components: {
    VNavbar,
    VFooter
  }
};
</script>
