<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
      <div class="row">
        <slot name="stats" />
      </div>
      <div class="row">
        <slot name="filter" />
      </div>
    </base-header>

    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-12">
          <card header-class="bg-transparent">
            <div class="float-left">
              <base-input 
                placeholder="Search ..." 
                addon-left-icon="ni ni-zoom-split-in" 
                @keyup="searchQuery" 
                v-model="query" 
              />
            </div>
            <base-button v-show="!hideCreateButton" class="float-right mb-3" type="success" @click="addNewButton">
              <i class="ni ni-fat-add"></i>
              Add New
            </base-button>

            <div class="table-responsive">
              <table class="table tablesorter">
                <thead>
                  <tr>
                    <th class="font-weight-black" style="width: 40px">
                      #
                    </th>
                    <th class="font-weight-black" v-for="column in columns" :key="column">
                      {{ column | capitalize }}
                    </th>
                    <th style="width: 80px;">
                      Actions
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <slot name="table-rows" :tableData="data" />
                </tbody>
              </table>
            </div>

            <template v-slot:footer>
              <base-pagination
                :value="data.currentPage"
                align="end"
                :page-count="data.totalPages"
                @input-it="handlePage"
              />
            </template>
          </card>
        </div>
      </div>
    </div>

    <div v-show="!hideCreateButton">
      <modal :show.sync="$store.state.showModal">
        <form @submit.prevent="formSubmit">
          <component :is="formComponent" :formRecord="formRecord" />
        </form>
        
        <template v-slot:footer>
          <base-button type="primary" @click="formSubmit">Save Changes</base-button>
          <base-button type="link" class="ml-auto" @click="setShowModal(false)">Close</base-button>
        </template>
      </modal>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex'

export default {
  props: ['hideCreateButton', 'formComponent', 'formRecord', 'data', 'columns', 'moduleName', 'customSubmitAction'],
  data: () => ({
    query: '',
    currentPage: 1
  }),

  computed: {
    ...mapState({
      showModal: 'showModal',
      isEditing: 'isEditing'
    }),
    
  },

  methods: {
    ...mapMutations({
      setShowModal: 'setShowModal',
      setIsEditing: 'setIsEditing',
      setIsDisable: 'setIsDisable'
    }),

    handlePage(page) {
      this.$set(this, 'currentPage', page)
      this.fetchData('?limit=10&page=' + this.currentPage)
    },

    formSubmit() {
      if (!this.customSubmitAction) {
        if (this.isEditing) {
          this.$store.dispatch(`${this.moduleName}/updateData`, this.formRecord)
        } else {
          this.$store.dispatch(`${this.moduleName}/storeData`, this.formRecord)
        }
      } else {
        this.customSubmitAction()
      }
    },

    searchQuery() {
      if (this.query.length < 1) {
        this.fetchData()
      } else {
        this.fetchData(`?search=${this.query}`)
      }
    },

    addNewButton() {
      this.setShowModal(true)
      this.setIsEditing(false)
      this.$emit('reset-data')
    },

    fetchData(query = '?limit=10&page=1') {
      this.$store.dispatch(`${this.moduleName}/fetchAll`, query)
      this.$set(this, 'currentPage', this.data.currentPage)
    }
  },

  beforeMount() {
    this.fetchData()
  }
}
</script>