<template>
  <div class="d-flex flex-column container justify-content-center"> 
    <div class="d-flex justify-content-center align-items-center">
      <img src="@/assets/error-404-colour-1200px.png" alt="">
    </div>
    <h3 class="display-1 font-weight-light text-center">
      URL Not Found :(
    </h3>
    <p class="px-5">
      Lorem Ipsum adalah contoh teks atau dummy dalam industri percetakan dan penataan huruf atau typesetting. Lorem Ipsum telah menjadi standar contoh teks sejak tahun 1500an, saat seorang tukang cetak yang tidak dikenal mengambil sebuah kumpulan teks dan mengacaknya untuk menjadi sebuah buku contoh huruf.
    </p>
  </div>
</template>

<style scoped>
img {
  max-height: 70vh;
}
</style>