<template>
  <div class="about">
    <h1>This is an about page</h1>
    <div class="img-box w-1/4" v-for="(photo, id) in photos" :key="id">
      <div class="img-box-p">
        <img :src="photo.thumbnailUrl" alt="" />
        <div>{{ photo.title }}</div>
      </div>
    </div>
  </div>
</template>
