<template>
  <div class="container mx-auto">
    <div class="w-full py-2 text-gray-700">
      <router-link class="font-bold" to="/">
        Dashboard
      </router-link>
      > Cart
    </div>

    <div class="flex flex-wrap">
      <div class="w-full sm:w-2/3">
        <list-cart
          v-for="(item, i) in carts"
          :key="i"
          :img="item.picture"
          :title="item.name"
          :price="item.price"
          :quantity="item.quantity"
          :id="item.id"
        />
      </div>

      <div class="checkout-detail-wrap w-full sm:w-1/3 px-3">
        <div class="shadow-lg p-3">
          <div class="font-semibold py-2">Nike Shoes Series</div>
          <div class="flex justify-between">
            <dt>Total Harga</dt>
            <dd>{{ subTotal | formatPrice }}</dd>
          </div>
          <div class="py-3">
            <router-link to="/cart/checkout">
              <button class="btn-lg w-full">
                Checkout
              </button>
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import ListCart from "@/components/ListCart.vue";
export default {
  name: "Home",
  components: {
    ListCart
  },
  data() {
    return {
      quantity: 0
    };
  },
  computed: {
    ...mapState("product", ["items"]),
    carts() {
      return this.items.filter(item => item.selected == true);
    },
    subTotal() {
      // let total = 0;
      // this.carts.forEach(item => {
      //   total += item.price * item.quantity;
      // });
      // return total;
      return this.carts.reduce((a,b) => a + (b.price * b.quantity),0)
    }
  }
};
</script>
