<template>
  <div class="container mx-auto">
    <div class="w-full py-2 text-gray-700">
      <router-link class="font-bold" to="/">
        Dashboard
      </router-link>
      >
      <router-link class="font-bold" to="/cart">
        Cart
      </router-link>
      > Checkout
    </div>

    <div class="flex flex-wrap">
      <div class="w-full sm:w-2/3 text-black">
        <div class="text-2xl text-gray-700">Recipient Details</div>
        <div class="user-detail" v-if="selectedAddress.length > 0">
          <div class="font-bold">{{ user.data.firstname }}</div>
          <div>{{ user.data.phonenumber }}</div>
          <div>{{ user.data.email }}</div>
          <div>
            <b>Provinsi</b>
            {{
              provinces.results.filter(
                (data) => data.province_id == selectedAddress.provinceId
              )[0].province
            }},
          </div>
          <div>
            <b>Kabupaten</b>
            {{
              citiesName[selectedAddress.provinceId].filter(
                (data) => data.city_id == selectedAddress.cityId
              )[0].city_name
            }},
          </div>
        </div>
        <div>
          <router-link to="/settings/address/">
            <button class="btn-lg text-black my-2">Change Address</button>
          </router-link>
        </div>
        <hr />
        <div>
          <input
            v-model="vdiskon"
            type="text"
            @input="cekDiscount"
            placeholder="Use Discount Voucher"
            :class="
              `outline-none border ${
                isDiscount.length > 0
                  ? 'border-green-600'
                  : vdiskon == ''
                  ? ''
                  : 'border-red-600'
              } p-2 my-2 text-black w-full`
            "
          />
          <div class="text-green-700 font-bold" v-if="isDiscount.length > 0">
            Mendapat Discount {{ isDiscount[0].totalDiscount }} %
          </div>
          <select
            @change="cekOngkir($event.target.value)"
            class="p-2 rounded my-2 w-full border border-blue-500"
          >
            <option value="title" disabled>Select Shipping</option>
            <option value="jne" selected>JNE</option>
            <option value="tiki">TIKI</option>
            <option value="pos">POS</option>
          </select>
         <!-- c {{selectOngkir}} -->
         <div v-if="isLoading">Please wait...</div>
          <div v-else>
            <div class="pilihOngkir" v-for="(ong, i) in ongkir.rajaongkir.results[0].costs"
                :key="i">
              <input type="radio" v-model="selectOngkir" name="selectOngkir" :value="ong.cost[0].value" :id="`ongkirSelect${i}`">
              <label
                :for="`ongkirSelect${i}`"
                class="p-2 border my-2 block w-full cursor-pointer"
              >
                <div>
                  <b>{{ ong.service }}</b> | {{ ong.description }}
                </div>
                <!-- <hr/> -->
                <div>
                  Estimasi : {{ong.cost[0].etd}}
                </div>
                <div>
                  Harga : {{ong.cost[0].value | formatPrice}}
                </div>
                <div>
                  {{ong.cost[0].note}}
                </div>
              </label>
            </div>
          </div>
          <!-- {{ ongkir }} -->
        </div>
      </div>
      <div class="detail-checkout w-full sm:w-1/3">
        <div class="font-bold">Shopping Summary</div>
        <div class="summary-detail w-full">
          <div>
            <dt>Weight Total</dt>
            <dd>{{ weightTotal }} Kg</dd>
          </div>
          <div>
            <dt>Total Price</dt>
            <dd>{{ subTotal | formatPrice }}</dd>
          </div>
          <div>
            <dt>Postal Fee</dt>
            <dd>{{selectOngkir | formatPrice}}</dd>
          </div>
          <div>
            <dt>Disc* Voucher</dt>
            <dd>{{ discountTotal | formatPrice }}</dd>
          </div>
          <hr />
          <div>
            <dt>Total Payment</dt>
            <dd>{{ totalPayment | formatPrice }}</dd>
          </div>
          <button class="btn-lg w-full text-white bg-blue-700">
            Select Payment
          </button>
        </div>
      </div>
    </div>
  
  </div>
</template>

<script>
  import { mapState, mapActions } from "vuex";
  export default {
    data() {
      return {
        vdiskon: "",
        isDiscount: false,
        selectOngkir:0,
        isLoading:true
      };
    },
    computed: {
      ...mapState("product", ["discount", "items", "ongkir"]),
      ...mapState("auth", ["user"]),
      ...mapState("address", [
        "selectedAddress",
        "provinces",
        "cities",
        "citiesName",
      ]),
      carts() {
        return this.items.filter((item) => item.selected == true);
      },
      subTotal() {
        // let total = 0;
        // this.carts.forEach(item => {
        //   total += item.price * item.quantity;
        // });
        return this.carts.reduce((a, b) => a + b.price * b.quantity, 0);
        // return total;
      },
      weightTotal() {
        return this.carts.reduce((a, b) => a + b.weight * b.quantity, 0);
      },
      discountTotal() {
        if (this.isDiscount.length > 0)
          return (this.subTotal * this.isDiscount[0].totalDiscount) / 100;
        else return 0;
      },
      totalPayment() {
        return (this.subTotal - this.discountTotal) + this.selectOngkir;
      },
    },
    methods: {
      ...mapActions("product", ["getDiscount", "getOngkir"]),
      cekDiscount(e) {
        console.log(e.target.value);
        console.log(this.selectedAddress,"ini address")
        if(this.selectedAddress.length > 0){

          this.isDiscount = this.discount.data.filter(
            (data) => data.discountName == e.target.value
          );
        }

        // console.log(this.carts)
      },
      async cekOngkir(e) {
        console.log("tes",this.selectedAddress)
        if(this.selectedAddress){
          console.log(e);
          console.log(this.selectedAddress);
          const data = {
            origin: "152",
            destination: this.selectedAddress.cityId.toString(),
            weight: this.weightTotal,
            courier: e,
          };
          console.log(data);
          this.isLoading = true
          await this.getOngkir(data);
          console.log(this.ongkir.rajaongkir);
          this.isLoading = false

        }
      },
    },
    async mounted() {
      if(this.isDiscount.length > 0){
        
        await this.getDiscount();
        await this.cekOngkir("jne")
        this.isLoading = false
        console.log(this.discount);
      }
    },
  };
</script>

<style scoped>
  @import "../assets/styles/list.css";
  dt {
    width: 150px;
  }

  .summary-detail > div {
    @apply flex justify-between w-full;
  }
  .pilihOngkir label{
    transition: all ease .3s;
  }
  .pilihOngkir input{
    display: none;
  }
  .pilihOngkir input:checked + label{
    @apply bg-green-200 shadow-lg;
  }
</style>
