<template>
  <div class="container max-w-screen-lg mx-auto">
    <div class="w-full py-2 text-gray-700">
      <router-link class="font-bold" to="/">
        Dashboard
      </router-link>
      > Detail
    </div>
    <div class="flex flex-wrap">
      <div class="img-box">
        <img v-lazy="itemId.picture" alt="" />
      </div>
      <div class="w-1/2 px-2 text-left">
        <div class="detail-wrap">
          <div class="text-3xl">{{ itemId.name }}</div>
          <div>
            <dt>Price</dt>
            <dd class="price">{{ itemId.price | formatPrice }}</dd>
          </div>
          <div>
            <dt>Quantity</dt>
            <dd class="price-q">
              <button @click="quantity--" class="bg-blue-600">
                <font-awesome-icon :icon="['fas', 'minus']" />
              </button>
              <input
                v-model="quantity"
                type="number"
                value="1"
                min="1"
                max="10"
              />
              <button @click="quantity++" class="bg-blue-600">
                <font-awesome-icon :icon="['fas', 'plus']" />
              </button>
            </dd>
          </div>
          <div>
            <dt>Stock</dt>
            <dd>{{ itemId.stock }}</dd>
          </div>
          <div class="flex">
            <dt>
              Info <br />
              Produk
            </dt>
            <dd>
              <table>
                <tr>
                  <td>Berat</td>
                  <td>Ukuran</td>
                  <td>Warna</td>
                  <td>Material</td>
                </tr>
                <tr>
                  <th>{{ itemId.weight }} kg</th>
                  <th>42</th>
                  <th>
                    {{
                      itemId.variants.length > 0
                        ? itemId.variants[0].color
                        : "-"
                    }}
                  </th>
                  <th>Canavs</th>
                </tr>
              </table>
            </dd>
          </div>
          <div>
            <dt>Tags</dt>
            <dd>
              {{
                itemId.tags.length > 0
                  ? itemId.tags.map(data => "#" + data.tag.name).join(" ")
                  : "-"
              }}
            </dd>
          </div>
          <div class="flex margin-btn">
            <button class="bg-blue-600">Buy</button
            ><button class="bg-blue-600">Add To Cart</button>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5">
      <div class="font-bold text-gray-700 my-2">Deskripsi</div>
      <div>
        {{ itemId.description }}
        a.
      </div>
    </div>
  </div>
</template>

<script>
// import Api from "@/service/api";
import { mapActions, mapState } from "vuex";
export default {
  data() {
    return {
      quantity: 1
    };
  },
  methods: {
    ...mapActions("product", ["getProductId"])
  },
  computed: {
    ...mapState("product", ["itemId"])
  },
  mounted() {
    this.getProductId(this.$route.params.id);
  }
};
</script>
<style scoped src="@/assets/styles/button.css"></style>
<style scoped src="@/assets/styles/list.css"></style>
<style scoped>
.detail-wrap > div {
  @apply pb-3;
}

.img-box {
  @apply mx-auto w-1/2 pr-10;
  min-width: 280px;
}

.img-box img {
  @apply mx-auto rounded-lg shadow w-full;
}

.price {
  @apply text-2xl text-blue-800 font-bold;
}
</style>
