<template>
  <div
    class="show-more-product container bg-gray-100 shadow-xl p-2 mx-auto"
    v-if="items.length > 1"
  >
    <div class="header flex flex-wrap mt-2">
      <div class="header-wrap">
        <swiper class="swiper" ref="swiper" :options="swiperOptions">
          <swiper-slide
            ><img src="@/assets/banner/banner1.jpg" class="mx-auto"
          /></swiper-slide>
          <swiper-slide
            ><img src="@/assets/banner/banner2.png" class="mx-auto"
          /></swiper-slide>
          <swiper-slide
            ><img src="@/assets/banner/banner3.jpeg" class="mx-auto"
          /></swiper-slide>

          <div class="swiper-pagination" slot="pagination"></div>
          <div class="swiper-button-prev" slot="button-prev"></div>
          <div class="swiper-button-next" slot="button-next"></div>
        </swiper>
      </div>
      <div class="header-wrap">
        <h2 class="text-3xl">Terlaris Hari Ini</h2>
        <div class="flex flex-wrap">
          <div class="img-box w-1/2" v-for="i in 4" :key="i">
            <div class="img-box-p">
              <img v-lazy="items[0].picture" @error="replaceByDefault" alt="" />
              <div>{{ items[0].name }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="product w-full">
      <div class="text-5xl text-gray-800">Products</div>
      <select name="" id="" class="p-2 rounded-full">
        <option value="all">ALL</option>
      </select>
      <div class="flex flex-wrap">
        <list-item
          class="w-1/5"
          v-for="(n, i) in totalShow - 1"
          :key="i"
          :item="items[i]"
        />
      </div>
      <!-- <button class="btn-lg mx-auto block my-3" @click="showMore">Show More</button> -->
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from "@/components/HelloWorld.vue";
import { mapActions, mapState } from "vuex";
import img from "@/assets/logo.png";
import ListItem from "@/components/ListItem.vue";
export default {
  name: "Home",
  components: {
    ListItem
  },
  data() {
    return {
      totalShow: 15,
      isLoading: false,

      swiperOptions: {
        spaceBetween: 30,
        centeredSlides: true,
        loop: true,
        autoplay: {
          delay: 2500,
          disableOnInteraction: false
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        }
      }
    };
  },
  methods: {
    ...mapActions("product", ["getProduct", "addCart"]),
    async showMore() {
      console.log(
        this.items.length,
        this.totalShow,
        this.response.data.totalItems
      );
      console.log(
        this.items.length <= this.totalShow,
        this.response.data.totalItems - this.totalShow >= 0
      );
      if (
        this.items.length <= this.totalShow &&
        this.totalShow <= this.response.data.totalItems
      ) {
        console.log("masuk");
        await this.getProduct();
        this.totalShow += 15;
      } else if (this.totalShow <= this.response.data.totalItems) {
        this.totalShow += 15;
      }
      // await this.getProduct()
      // this.totalShow+=15
    },
    replaceByDefault(e) {
      e.target.src = img;
    },
    async handleScroll() {
      // Any code to be executed when the window is scrolled
      // console.log(
      //   document.getElementsByClassName("show-more-product")[0].offsetHeight,
      //   window.innerHeight + window.scrollY
      // );
      if (
        document.getElementsByClassName("show-more-product")[0].offsetHeight <
          window.innerHeight + window.scrollY &&
        !this.isLoading
      ) {
        this.isLoading = true;
        await this.showMore();
        this.isLoading = false;
      }
    }
  },
  computed: {
    ...mapState("product", ["items", "response"])
  },

  async mounted() {
    window.addEventListener("scroll", this.handleScroll);
    console.log(this.items.length <= 0);
    // await this.getProduct();
    if (this.items <= 0) {
      await this.getProduct();
    }
  },
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  }
};
</script>

<style scoped>
.header-wrap {
  @apply w-1/2 place-self-center mx-auto;
  min-width: 280px;
}
</style>
