<template>
  <div
    class="mx-auto container grid place-items-center w-full max-w-full min-h-screen"
  >
    <form class="form" style="max-width:326px" @submit="sendRequest">
      <div v-if="user.length > 0">{{ user.data.username }}</div>
      <div class="login">Login</div>
      <div class="form-group">
        <label for="username">Username</label>
        <input
          v-model="username"
          name="username"
          id="username"
          type="text"
          required
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          v-model="password"
          name="password"
          id="password"
          type="password"
          required
        />
      </div>

      <input class="submit cursor-pointer" type="submit" value="Sign In" />
      <div class="my-2 text-left">
        Belum punya akun?
        <router-link to="register" class="text-blue-500 font-bold"
          >Register</router-link
        >
      </div>
    </form>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import Vue from "vue";
import "@/assets/styles/form.css";
export default {
  name: "Login",
  data: () => ({
    username: "",
    password: ""
  }),
  created() {
    // this.reqLogin();
    console.log("axs", this.user);
    if (this.user.length > 0 || this.user.data) {
      Vue.$toast.success("Sudah Login 😄");
      // this.$router.push("/")
      setTimeout(
        function() {
          this.$router.push("/");
        }.bind(this),
        2000
      );
    }
  },
  computed: {
    ...mapState("auth", ["user"])
  },
  methods: {
    ...mapActions("auth", ["reqLogin"]),
    async sendRequest(e) {
      e.preventDefault();
      await this.reqLogin({
        data: { username: this.username, password: this.password }
      });
      if (this.user.length > 0 || this.user.data) {
        this.$router.push("/");
      }

      return false;
    }
  }
};
</script>
