<template>
  <div
    class="mx-auto container grid place-items-center w-full max-w-full min-h-screen"
  >
    <form class="form" style="max-width:326px" @submit="sendRequest">
      <div class="login">Register</div>
      <div :class="`form-group ${userValid}`">
        <label for="username">Username</label>
        <div class="text-error" v-if="userValid">
          Username Less Than 5 Characters.
        </div>
        <input
          v-model="dataUser.username"
          name="username"
          id="username"
          type="text"
          required
        />
      </div>

      <div :class="`form-group ${firstnValid}`">
        <label>First Name</label>
        <div class="text-error" v-if="firstnValid">
          First Name Less Than 3 Characters.
        </div>
        <input
          v-model="dataUser.firstname"
          name="firstname"
          id="firstname"
          type="text"
          required
        />
      </div>
      <div :class="`form-group ${lastValid}`">
        <label>Last Name</label>
        <div class="text-error" v-if="lastValid">
          Last Name Less Than 3 Characters.
        </div>
        <input
          v-model="dataUser.lastname"
          name="lastname"
          id="lastname"
          type="text"
        />
      </div>
      <div class="form-group">
        <label for="password">Phone Number</label>
        <input
          v-model="dataUser.phonenumber"
          name="phonenumber"
          id="phonenumber"
          type="number"
          required
        />
      </div>
      <div class="form-group">
        <label for="password">Email</label>
        <input v-model="dataUser.email" name="email" id="email" type="email" />
      </div>
      <div :class="`form-group ${pwValid}`">
        <label for="password">Password</label>
        <div class="text-error" v-if="pwValid">
          Password Less Than 8 Characters.
        </div>
        <input
          v-model="dataUser.password"
          name="password"
          id="password"
          type="password"
          required
        />
      </div>
      <div :class="`form-group ${pwMatch}`">
        <label for="password">Confirm Password</label>
        <div class="text-error" v-if="pwMatch">Confirm Password not match.</div>
        <input
          v-model="password_confirm"
          name="password_confirm"
          id="password_confirm"
          type="password"
          required
        />
      </div>

      <input
        :class="`submit ${isValid ? 'cursor-pointer' : 'cursor-not-allowed'}`"
        :disabled="!isValid"
        type="submit"
        value="Register"
      />

      <router-link to="login" href="#" class="cancel">Cancel</router-link>
    </form>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import "@/assets/styles/form.css";
export default {
  name: "Register",
  data: () => ({
    dataUser: {
      username: "",
      password: "",
      firstname: "",
      lastname: "",
      phonenumber: "",
      email: ""
    },
    password_confirm: ""
  }),
  created() {
    // this.reqLogin();
  },
  computed: {
    ...mapState("Auth", ["errorMessage"]),
    pwMatch() {
      return `${
        this.dataUser.password != this.password_confirm &&
        this.password_confirm.length > 0
          ? "form-error"
          : ""
      }`;
    },
    pwValid() {
      return `${
        this.dataUser.password.length <= 8 && this.dataUser.password.length > 0
          ? "form-error"
          : ""
      }`;
    },
    userValid() {
      return `${
        this.dataUser.username.length <= 5 && this.dataUser.username.length > 0
          ? "form-error"
          : ""
      }`;
    },
    firstnValid() {
      return `${
        this.dataUser.firstname.length <= 3 &&
        this.dataUser.firstname.length > 0
          ? "form-error"
          : ""
      }`;
    },
    lastValid() {
      return "";
    },
    phoneValid() {
      return `${this.phonenumber}`;
    },
    isValid() {
      if (
        !this.pwMatch &&
        !this.pwValid &&
        !this.userValid &&
        !this.firstnValid
      ) {
        return true;
      } else {
        return false;
      }
    }
  },

  methods: {
    ...mapActions("auth", ["registerUser"]),
    sendRequest(e) {
      e.preventDefault();

      if (this.isValid) {
        // Action Post
        this.registerUser({ data: this.dataUser });
        console.log("Masuk");
      } else {
        console.log("ada yg kurang");
      }
    }
  }
};
</script>
