<template>
  <div
    class="show-more-product container mx-auto"
    v-if="searchItems.length > 1"
  >
    <div class="product w-full">
      <div class="text-5xl text-gray-800">Products</div>
      <select name="" id="" class="p-2 rounded-full">
        <option value="all">ALL</option>
      </select>
      <div class="flex flex-wrap">
        <list-item
          class="w-1/5"
          v-for="(n, i) in totalShow - 1"
          :key="i"
          :item="searchItems[i]"
        />
      </div>
      <!-- <button class="btn-lg mx-auto block my-3" @click="showMore">Show More</button> -->
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from "@/components/HelloWorld.vue";
import { mapActions, mapState } from "vuex";
import img from "@/assets/logo.png";
import ListItem from "@/components/ListItem.vue";
export default {
  name: "Home",
  components: {
    ListItem
  },
  data() {
    return {
      totalShow: 15,
      isLoading: false
    };
  },
  methods: {
    ...mapActions("product", ["searchProduct", "addCart"]),
    async showMore() {
      console.log(
        this.searchItems.length,
        this.totalShow,
        this.sresponse.data.totalItems
      );
      console.log(
        this.searchItems.length <= this.totalShow,
        this.sresponse.data.totalItems - this.totalShow >= 0
      );
      if (
        this.searchItems.length <= this.totalShow &&
        this.totalShow <= this.sresponse.data.totalItems
      ) {
        this.totalShow += 15;
      } else if (this.totalShow <= this.sresponse.data.totalItems) {
        this.totalShow += 15;
      }
      // await this.searchProduct()
      // this.totalShow+=15
    },
    replaceByDefault(e) {
      e.target.src = img;
    },
    async handleScroll() {
      // Any code to be executed when the window is scrolled
      // console.log(
      //   document.getElementsByClassName("show-more-product")[0].offsetHeight,
      //   window.innerHeight + window.scrollY
      // );
      if (
        document.getElementsByClassName("show-more-product")[0].offsetHeight <
          window.innerHeight + window.scrollY &&
        !this.isLoading
      ) {
        this.isLoading = true;
        await this.showMore();
        this.isLoading = false;
      }
    }
  },
  computed: {
    ...mapState("product", ["searchItems", "sresponse"])
  },

  async mounted() {
    window.addEventListener("scroll", this.handleScroll);
    console.log(this.$route.query.search);
    await this.searchProduct(this.$route.query.search);
  },
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  }
};
</script>
