<template>
  <div class="p-2">
    <router-link to="/settings/address/add">
      <button class="btn-lg">Add Adress</button>
    </router-link>
    <!-- {{userAddress}} -->
  <div v-if="citiesName">
    
      <div
        class="p-2 border border-blue-300 my-2 rounded relative"
        v-for="(addr, i) in userAddress"
        :key="i"
      >
      <!-- {{addr.id}} -->
      <div
            class="absolute right-0 top-0 flex p-1"
            
          >
          <button :class="`mx-2 bg-green-300 cursor-pointer px-2 shadow rounded`" @click="selectAddress(addr.id)">Select Address</button> 
            <div @click="deleteAddress(addr.id)" class="text-white cursor-pointer px-2 rounded bg-red-600">
              <font-awesome-icon :icon="['fas', 'times']" />
            </div>
          </div>
        <div>
          <b>Provinsi</b>
          {{
            provinces.results.filter(
              data => data.province_id == addr.provinceId
            )[0].province
          }},
        </div>
        <div>
          <b>Kabupaten</b>
          {{
            citiesName[addr.provinceId].filter(
              data => data.city_id == addr.cityId
            )[0].city_name
          }},
        </div>
        <div>Spesifik : {{ addr.address }}</div>
      </div>
  </div>
    <!-- {{provinces.results}} -->
    <!-- {{getName}} -->
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  methods: {
    ...mapActions("address", ["getAddressAll", "getCitiesAll","deleteAddress","selectAddress","getProvinces","getCities"])
  },
  computed: {
    ...mapState("address", ["address", "provinces", "citiesName"]),
    ...mapState("auth", ["user"]),
    userAddress() {
      return this.address.data.data.filter(
        data => data.userId == this.user.data.id
      );
    }
  },
  async mounted() {
    await this.getProvinces();
    await this.getCities(1);
    await this.getAddressAll();
    
       const getCities = [
      ...new Set(this.userAddress.map(data => data.provinceId))
    ];
    console.log(getCities);
    await getCities.forEach(async id => {
      console.log(id);
      await this.getCitiesAll(id);
    });
    console.log("Ini Kota", this.citiesName);
   
  }
};
</script>

<style scoped></style>
