<template>
  <div class="p-2">
    <div>Update Data Profile</div>
    <hr />
    <form class="list-detail">
      <div>
        <dt>First Name</dt>
        <dd><input v-model="inputVal.firstname" type="text" /></dd>
      </div>
      <div>
        <dt>Last Name</dt>
        <dd><input v-model="inputVal.lastname" type="text" /></dd>
      </div>
      <div>
        <dt>Email</dt>
        <dd><input v-model="inputVal.email" type="text" /></dd>
      </div>
      <div>
        <dt>Phone Number</dt>
        <dd><input v-model="inputVal.phonenumber" type="number" /></dd>
      </div>
      <div>
        <dt>password</dt>
        <dd><input v-model="inputVal.password" type="password" /></dd>
      </div>
    </form>
    <div class="my-3">
      <input
        type="submit"
        class="btn-lg bg-white"
        value="Save"
        @click="sendRequest"
      />
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  data() {
    return {
      inputVal: {}
    };
  },
  components: {
    // PostModal,
    // MInput
  },
  computed: {
    ...mapState("auth", ["user"])
  },
  methods: {
    ...mapActions("auth", ["updateUser"]),
    sendRequest(e) {
      e.preventDefault();
      //   console.log(this.user)
      //   console.log("sebelum action put",this.user.data.token)
      this.updateUser(this.inputVal);
      //   console.log("setelah action put",this.user.data.token)
    }
  },
  mounted() {
    this.inputVal = this.user.data;
  }
};
</script>
<style scoped src="@/assets/styles/list.css"></style>
<style scoped>
dt,
dd {
  @apply block w-full;
}
.list-detail > div {
  @apply my-2 border-b;
}
.list-detail input {
  @apply w-full p-2 rounded-lg shadow block bg-gray-200;
}
</style>
