<template>
  <div class="p-2">
    <div>Update Data Profile</div>
    <!-- {{provinces}} -->

    <select v-model="vprovince" @change="reqCities">
      <option value="title" selected disabled>{{
        isLoading ? "Please Wait..." : "Select Provinces"
      }}</option>
      <option
        v-for="(province, i) in provinces.results"
        :key="i"
        :value="province.province_id"
        >{{ province.province }}</option
      >
    </select>
    <!-- {{cities}} -->
    <select v-model="vcities">
      <option value="title" selected disabled>{{
        isLoading ? "Please Wait..." : "Select Cities"
      }}</option>
      <option
        v-for="(cities, i) in cities.results"
        :key="i"
        :value="cities.city_id"
        >{{ cities.city_name }}</option
      >
    </select>
    <textarea
      v-model="vdetail"
      class="p-2 shadow-lg border w-full block my-2"
      placeholder="Detail Alamat"
    ></textarea>
    <button class="btn-lg" @click="addAddress">ADD</button>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  data() {
    return {
      isLoading: true,
      vprovince: "title",
      vcities: "title",
      vdetail: null
    };
  },
  components: {
    // PostModal,
    // MInput
  },
  computed: {
    ...mapState("address", ["provinces", "cities"]),
    ...mapState("auth", ["user"])
  },
  methods: {
    ...mapActions("address", ["getProvinces", "getCities", "postCities"]),

    async reqCities(e) {
      this.isLoading = true;
      await this.getCities(parseInt(e.target.value));
      this.isLoading = false;
    },
    async addAddress() {
      const data = {
        userId: this.user.data.id,
        address: this.vdetail,
        provinceId: parseInt(this.vprovince),
        cityId: parseInt(this.vcities)
      };
      await this.postCities(data);
      console.log(data);
    }
  },
  async mounted() {
    this.vprovince = "title";
    await this.getProvinces();
    await this.getCities(1);
    this.isLoading = false;
    console.log(this.provinces);
  }
};
</script>
<style scoped>
select {
  @apply p-2 mr-2 shadow cursor-pointer;
}
</style>
