<template>
  <div class="p-2">
    <div>Personal Data Profile</div>
    <hr />
    <div class="list-detail">
      <div>
        <dt>First Name</dt>
        <dd>{{ user.data.firstname }}</dd>
      </div>
      <div>
        <dt>Last Name</dt>
        <dd>{{ user.data.lastname }}</dd>
      </div>
      <div>
        <dt>Email</dt>
        <dd>{{ user.data.email }}</dd>
      </div>
      <div>
        <dt>Phone Number</dt>
        <dd>{{ user.data.phonenumber }}</dd>
      </div>
    </div>
    <div class="my-3">
      <router-link to="/settings/profile/edit" class="btn-lg"
        >Update Profile</router-link
      >
    </div>
    <!-- <post-modal :inputVal="inputVal" body="form-data" postUrl="product/">
      <div slot="title">Add Product</div>
      <div slot="form-list">
        <m-input
          labelName="Product Name"
          type="text"
          v-on:input="inputVal.name = $event"
        />
        <m-input
          labelName="Stock"
          type="number"
          v-on:input="inputVal.stock = $event"
        />
        <m-input
          labelName="Price"
          type="number"
          v-on:input="inputVal.price = $event"
        />
        <m-input
          labelName="Product Name"
          type="file"
          v-on:input="inputVal.FILE = $event"
        />
      </div>
    </post-modal> -->
  </div>
</template>

<script>
// import PostModal from "@/components/modal/PostModal.vue";
// import MInput from "@/components/modal/MInput.vue";
import { mapState } from "vuex";

export default {
  data() {
    return {
      inputVal: {}
    };
  },
  components: {
    // PostModal,
    // MInput
  },
  computed: {
    ...mapState("auth", ["user"])
  }
};
</script>
<style scoped src="@/assets/styles/list.css"></style>
<style scoped></style>
