<template>
  <div v-if="user" class="container mx-auto">
    <div class="w-full py-2 text-gray-700">
      <router-link class="font-bold" to="/">
        Dashboard
      </router-link>
      >
      <router-link class="font-bold" to="/settings">
        Settings
      </router-link>
      > {{ $route.path.split("/")[2] }}
    </div>

    <div class="settings-box">
      <div class="flex select-options">
        <router-link to="/settings/profile">Profile</router-link>
        <router-link to="/settings/address">Address</router-link>
        <router-link to="/settings/store">Store</router-link>
      </div>
      <div>
        <router-view />
      </div>
    </div>
  </div>
  <div v-else class="container mx-auto my-5 text-3xl">
    <div class="font-bold">
      Membutuhkan Login untuk mengakses halaman ini 😄
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  computed: {
    ...mapState("auth", ["user"])
  }
};
</script>

<style scoped>
.select-options {
  @apply mb-2 bg-gray-300;
  box-shadow: inset 0 -2px 0 #000;
}
.select-options a {
  @apply py-2 px-4 border-b-2 border-black font-bold;
  transition: all ease 0.3s;
}
.select-options a:hover {
  @apply border-white text-white bg-blue-500;
}
.select-options a.router-link-active {
  @apply border-white text-white bg-blue-500;
}
</style>
