<!DOCTYPE html>
<html>
    <head>
        <style>
        * {
            font-family: Arial, Helvetica, sans-serif;
        }
        table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
        .content {
            width: 85%;
            margin: 0 7.5%;
        }
        .invoice-detail {
            padding: 5px;
            background-color: #d9d9d9;
            margin-bottom: 10px;
        }
        </style>
    </head>
    <body>
        <div class="content">
            <div class="invoice-detail">            
                <h1>Invoice #239012</h1>
                <p>Invoice Date: Friday, July 10th, 2020</p>
                <p>Due Date: Thursday, July 30th, 2020</p>
             </div>
             <table>
                <tr>
                  <th>No</th>
                  <th>Items</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Total</th>
                </tr>
                <% for (let i = 0; i < data.count; i++) { %>
                  <tr>
                    <td><%= i + 1 %></td>
                    <td><%= data.rows[i].product["name"] %></td>
                    <td><%= data.rows[i].product["price"] %></td>
                    <td><%= data.rows[i].qty %></td>
                    <td><%= data.rows[i].qty * data.rows[i].product["price"] %></td>
                  </tr>
                <% } %>

                <tr>
                    <td colspan="4" style="text-align: right; font-weight: bold;">Ongkos Kirim</td>
                    <td style="font-weight: bold;"><%= data.orders.postalFee %></td>
                  </tr>
                <tr>
                  <td colspan="4" style="text-align: right; font-weight: bold;">Sub Total</td>
                  <td style="font-weight: bold;"><%= data.orders.subTotal %></td>
                </tr>
                <tr>
                <td colspan="4" style="text-align: right; font-weight: bold;">Diskon</td>
                    <td style="font-weight: bold;"><%= data.discount.totalDiscount %></td>
                </tr>
                <tr>
                    <td colspan="4" style="text-align: right; font-weight: bold;">Total</td>
                <td style="font-weight: bold;"><%= data.orders.total %></td>
                </tr>
              </table>              
        </div>
    </body>
</html>