button {
  @apply text-white;
  padding: 8px 12px;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 0 4px #999;
  outline: none;
  transition: all ease 0.1s;
}

input[type="number"] {
  @apply text-center;
  width: 50px;
}
