.form-group input {
    @apply shadow p-1 bg-gray-100 border border-gray-200;
    width: 100%;
  }
  .form-error input{
    @apply border-red-800 outline-none;
    
  }
  .text-error{
    @apply text-left text-red-800 text-sm;
  }
  .login {
    @apply font-bold;
    font-size: 28px;
    margin: 18px 0;
    margin-bottom: 22px;
  }
  .container {
    height: 100%;
  }
  .form {
    @apply border border-gray-200 bg-gray-100 rounded shadow-lg mx-auto;
    width: 100%;
    min-height: 395px;
    padding: 28px 36px;
  }
  .form-group {
    @apply block text-left mx-auto mb-3;
    font-size: 16px;
    /* max-width: 255px; */
  }
  .form-group label {
    @apply block mb-2 font-semibold;
  }
  .submit,
  .cancel {
    @apply text-white bg-blue-500 p-2 block;
    width: 255px;
    /* cursor: pointer; */
    border-radius: 4px;
  }
  .cancel{
    cursor: pointer;
  }
  .submit:hover,.cancel:hover {
    @apply shadow text-white bg-blue-400;
  }
  .submit:focus,.cancel:focus {
    @apply shadow text-white bg-blue-400;
  }
  
  .cancel {
    @apply mt-2 text-center;
  }