@tailwind base;
@tailwind components;
@tailwind utilities;
/*! purgecss start ignore */
@import "theme-default.css";
@import "nprogress.css";
/*! purgecss end ignore */
body,
html {
  margin: 0;
  height: 100%;
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif
}
#app {
  height: max-content;
  min-height: 100%;
  position: relative;
}
.wrap {
  @apply mx-auto mt-10;
  height: max-content;
  min-height: 100%;
}

.btn {
  @apply mx-auto my-2 rounded mx-auto my-2 rounded block;
  width: 120px;
  padding: 5px;
}
.btn-lg {
  @apply text-base rounded-md border border-blue-500 py-2 px-4 cursor-pointer;
  transition:all ease .3s;
}

.btn-lg:hover{
  @apply bg-blue-400;
}

option {
  background: transparent;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.margin-btn > * {
  @apply mr-2;
}

.list-box {
  @apply w-full p-5 border border-green-500 bg-green-100 shadow-lg;
  /* max-height: 700px; */
  /* overflow-y: scroll; */
}

@media (min-width: 640px) {
}
