<template>
  <div class="bg-gray-100">
    <div
      class="container flex text-center p-2 shadow mt-5 justify-between mx-auto"
    >
      <div>
        ©️ 2020 UT Store. All right reserved
      </div>
      <div class="margin-btn">
        <font-awesome-icon :icon="['fab', 'instagram']" />
        <font-awesome-icon :icon="['fab', 'twitter']" />
        <font-awesome-icon :icon="['fab', 'facebook-f']" />
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped></style>
