<template>
  <div class="cart-wrap shadow-lg border p-2 mb-5 w-full">
    <div class="flex flex-wrap sm:flex-no-wrap">
      <div class="px-2 mx-auto img-box">
        <img :src="img" alt="" />
      </div>
      <div class="cart-detail-wrap w-full px-2 mx-auto relative">
        <div
          class="text-red-600 absolute right-0 cursor-pointer p-1 -m-1"
          @click="removeCart(id)"
        >
          <font-awesome-icon :icon="['fas', 'times']" />
        </div>
        <router-link :to="link" class="text-2xl">{{ title }}</router-link>
        <div>
          <dt>Harga</dt>
          <dd class="price">{{ price | formatPrice }}</dd>
        </div>
        <div>
          <dt>Total Harga</dt>
          <dd class="price">{{ (price * quantity) | formatPrice }}</dd>
        </div>
        <div class="mt-2">
          <dt>Quantity</dt>
          <dd class="price-q">
            <button
              @click="increaseCount({ id: id, increase: false })"
              class="bg-blue-600 rounded-full"
            >
              <font-awesome-icon :icon="['fas', 'minus']" />
            </button>
            <input :value="quantity" type="number" min="1" max="10" />
            <button
              @click="increaseCount({ id: id, increase: true })"
              class="bg-blue-600 rounded-full"
            >
              <font-awesome-icon :icon="['fas', 'plus']" />
            </button>
          </dd>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  props: {
    link: {
      type: String,
      default: "#"
    },
    title: {
      type: String,
      default: "Tanpa Judul"
    },
    price: {
      type: Number,
      default: 0
    },
    quantity: {
      type: Number,
      default: 1
    },
    img: {
      type: String,
      default: "https://via.placeholder.com/150/92c952"
    },
    id: {
      type: Number
    }
  },
  methods: {
    ...mapActions("product", ["increaseCount", "removeCart"])
  }
};
</script>
<style scoped src="@/assets/styles/list.css"></style>
<style scoped>
.price-q button {
  @apply bg-blue-500 inline-grid place-items-center text-xs text-white;
  width: 25px;
  height: 25px;
}
input[type="number"] {
  width: 25px;
  text-align: center;
}
dt {
  display: inline-block;
  width: 100%;
  max-width: 120px;
}
.cart-wrap {
  min-width: 280px;
}

.img-box img {
  width: 150px;
  max-width: 150px;
}
</style>
