<template>
  <div class="img-box">
    <div
      v-if="item"
      :class="`item-cart-total z-10 ${item.quantity ? 'absolute' : 'hidden'}`"
    >
      {{ item.quantity ? item.quantity : "" }}
    </div>
    <div v-if="item" class="img-trigger">
      <div class="img-hover">
        <div class="block text-center">
          <router-link to="detail">
            <router-link :to="`detail/${item.id}`" class="btn bg-white shadow">
              <font-awesome-icon :icon="['fas', 'search']" /> Detail
            </router-link>
          </router-link>
          <button class="btn bg-blue-700 text-white" @click="addCart(item.id)">
            <font-awesome-icon :icon="['fas', 'shopping-cart']" /> Add to Cart
          </button>
        </div>
      </div>

      <div class="img-box-p">
        <img v-lazy="item.picture" alt="" />
        <div class="font-bold text-xl text-gray-700">
          {{ item.name | trimChar }}
        </div>
        <div class="font-bold text-blue-500 text-xl">
          {{ item.price | formatPrice }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  methods: {
    ...mapActions("product", ["addCart"])
  },
  props: {
    ...["id", "picture", "name", "price"],
    item: {
      type: Object,
      default: () => {}
    }
  }
};
</script>

<style scoped>
.img-box {
  @apply bg-gray-100 relative mx-auto;
  min-width: 240px;
}
.img-box .img-box-p img {
  @apply w-full mx-auto rounded-lg mx-auto;
}
.img-box .img-box-p {
  @apply w-full h-full bg-gray-100 p-2 mx-auto;
  max-width: 240px;
  transition: all ease 0.4s;
}

.img-hover {
  @apply absolute w-full h-full place-items-center mx-auto text-center;
  display: none;
}

.img-trigger:hover .img-hover {
  display: grid;
  z-index: 2;
}
.img-trigger:hover .img-box-p {
  @apply rounded-lg;
  filter: brightness(0.7);
}
.img-trigger {
  position: relative;
  width: 100%;
  max-width: 240px;
}

.item-cart-total {
  @apply bg-blue-600 shadow text-white absolute top-0 rounded-full text-center;
  right: 12px;
  height: 25px;
  width: 25px;
}
</style>
