<template>
  <div class="flex flex-wrap px-2 justify-between container mx-auto py-3">
    <router-link class="order-1 sm:order-1" to="/">
      <img :src="require('@/assets/' + logo + '')" />
    </router-link>
    <div class="search-wrap order-3 mx-auto w-full sm:w-auto sm:order-2">
      <input
        type="text"
        class="bg-transparent w-full border-none outline-none"
        placeholder="Start your search"
        v-model="searchText"
      />
      <button class="search-btn" @click="search">
        <font-awesome-icon :icon="['fas', 'search']" />
      </button>
    </div>
    <div class="flex order-2 sm:order-3">
      <router-link to="/cart" class="shop-wrap relative">
        <div class="quantity-count">{{ totalQ }}</div>
        <font-awesome-icon class="text-2xl" :icon="['fas', 'shopping-cart']" />
      </router-link>
      <div class="trigger-hover">
        <div class="signup-wrap">
          <div class="place-self-center pr-2">
            <router-link v-if="user" to="/login">
              {{ user?user.data.username:'' }}
            </router-link>
            <router-link v-else to="/login">
              SIGN UP
            </router-link>
          </div>
          <div class="user-sign">
            <font-awesome-icon :icon="['fas', 'user']" />
          </div>
        </div>

        <div v-if="user" class="drop-hover">
          <div>
            <router-link to="/settings/profile">
              <font-awesome-icon :icon="['fas', 'cog']" />
              Setting</router-link
            >
          </div>
          <div @click="logout">
            <a class="cursor-pointer"
              ><font-awesome-icon :icon="['fas', 'sign-out-alt']" /> Logout</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  props: {
    logo: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      searchText: ""
    };
  },
  computed: {
    ...mapState("product", ["items"]),
    ...mapState("auth", ["user"]),
    totalQ() {
      const total = this.items.reduce((a, b) => a + (b["quantity"] || 0), 0);
      return total;
    }
  },
  methods: {
    ...mapActions("product", ["searchProduct"]),
    ...mapActions("auth", ["logout"]),
    async search() {
      // this.$router.push(`/search?search=${this.searchText}`)

      console.log(this.$route.path);
      if (this.$route.path.toLowerCase() != "/search") {
        this.$router.push(`/search?search=${this.searchText}`);
      } else {
        await this.searchProduct(this.searchText);
      }
    }
  },
  mounted() {
    console.log(this.$route.name);
  }
};
</script>

<style scoped>
.search-wrap {
  @apply flex border border-gray-600 rounded-full p-1 pl-5;
}
.search-btn {
  @apply bg-blue-700 text-white rounded-full;
  height: 40px;
  width: 40px;
  min-width: 40px;
  align-self: center;
}
.drop-hover > div:hover {
  @apply bg-gray-200;
}
.drop-hover > div {
  @apply px-2 py-2;
}

.shop-wrap {
  @apply place-self-center border-r border-gray-600 px-3 mr-3;
}
.signup-wrap {
  @apply flex border border-gray-600 rounded-full p-1 pl-5 place-self-center relative;
  max-height: 40px;
}

.trigger-hover {
  @apply relative;
  height: max-content;
}

.drop-hover {
  @apply border bg-white w-full rounded shadow-lg z-10 absolute hidden;
  min-height: 100px;
  animation: drophover ease 0.3s;
  transition: all ease 0.5s;
  top: calc(100%);
  right: 0;
}
.signup-wrap:hover + .drop-hover,
.drop-hover:hover {
  @apply pointer-events-auto block;
  transition-delay: 0s;
}

@keyframes drophover {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.user-sign {
  @apply bg-gray-800 text-white rounded-full text-center;
  height: 25px;
  width: 25px;
  align-self: center;
}
.quantity-count {
  @apply bg-blue-600 shadow grid place-items-center text-white absolute rounded-full text-xs;
  right: 1px;
  top: -10px;
  height: 22px;
  width: 22px;
}
</style>
