<template>
  <div>
    <modal :show.sync="showDetailModal" type="notice" :showClose="true">
      <template v-slot:header>
        <h1 class="font-weight-black">
          Order # {{ order.id }}
        </h1>
      </template>

      <div class="row">
        <div class="col-6">
          <table class="table table-borderless">
            <tr>
              <td>
                Total
              </td>
              <th>
                {{ order.total | currency }}
              </th>
            </tr>
            <tr>
              <td>
                Total Weight
              </td>
              <th>
                {{ order.weightTotal }} Kg
              </th>
            </tr>
            <tr>
              <td>
                Discount
              </td>
              <th>
                {{ discountTotal | currency }}
              </th>
            </tr>
            <tr>
              <td>
                Sub Total
              </td>
              <th>
                {{ order.subTotal | currency }}
              </th>
            </tr>
            <tr>
              <td>
                Postal Fee
              </td>
              <th>
                {{ order.postalFee | currency }}
              </th>
            </tr>
            <tr>
              <td>
                Date
              </td>
              <th>
                {{ order.createdAt | readableDateTime }}
              </th>
            </tr>
            <tr>
              <td>
                Status
              </td>
              <th>
                {{ order.orderStatus.name | uppercase }}
              </th>
            </tr>
          </table>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-12">
              <h4 class="font-weight-black">
                User
              </h4>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ order.user.email }}</td>
                    <td>{{ order.user.username }}</td>
                    <td>{{ order.user.firstname }} {{ order.user.lastname }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 table-responsive">
              <h4 class="font-weight-black">
                Shipment
              </h4>
              <table class="table table-bordered" >
                <thead>
                  <tr>
                    <th>Receipt Number</th>
                    <th>Weight Total</th>
                    <th>Province</th>
                    <th>City</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ order.orderShipment.receiptNumber }}</td>
                    <td>{{ order.orderShipment.weightTotal }}</td>
                    <td>{{ order.orderShipment.provinceId }}</td>
                    <td>{{ order.orderShipment.cityId }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 table-responsive">
          <h3 class="font-weight-black">
            Details
          </h3>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Product</th>
                <th>QTY</th>
                <th>Weight</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(detail, index) in order.details" :key="detail.id">
                <td>
                  {{ index + 1 }}
                </td>
                <td>
                  {{ detail.product.name }}
                </td>
                <td>
                  {{ detail.qty }} Pcs
                </td>
                <td>
                  {{ detail.weightTotal }} Kg
                </td>
                <td>
                  {{ detail.totalPrice | currency }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </modal>
  </div>
</template>

<script>
import http from '@/plugins/http'
export default {
  data: () => ({
    order: {},
    showDetailModal: true
  }),
  watch: {
    showDetailModal: function() {
      this.$router.go(-1)
    }
  },
  computed: {
    discountTotal() {
      return this.order.subTotal - this.order.total
    }
  },
  methods: {
    async fetchData() {
      const { id } = this.$route.params

      const { data } = await http.get('/order/' + id)
      this.$set(this, 'order', data.data)
    },
  },
  created() {
    this.fetchData()
  }
}
</script>