<template>
  <div>
    <crud-layout
      :columns="columns"
      :moduleName="moduleName"
      :url="url"
      :formRecord="formRecord"
      :formComponent="formComponent"
    >
      <template v-slot:stats>
        <div class="col-xl-3 col-lg-6">
          <stats-card title="Total traffic"
                      type="gradient-red"
                      sub-title="350,897"
                      icon="ni ni-active-40"
                      class="mb-4 mb-xl-0"
          >
            <template slot="footer">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
            </template>
          </stats-card>
        </div>
      </template>

      <template v-slot:table-row :data="{ row }">

      </template>
    </crud-layout>
  </div>
</template>

<script>
export default {
  data: () => ({
    columns: ['first name', 'username', 'email', 'role'],
    moduleName: '',
    url: '',
    formRecord: {},
    formComponent: {},
  })
}
</script>