<template>
  <div>
    <crud-layout
      :columns="columns"
      :moduleName="moduleName"
      :formRecord="formRecord"
      :formComponent="formComponent"
      :data="discounts"
      @reset-data="resetData"
    >
      <template v-slot:stats>
        <div class="col-xl-3 col-lg-6">
          <stats-card title="Total traffic"
                      type="gradient-red"
                      sub-title="350,897"
                      icon="ni ni-active-40"
                      class="mb-4 mb-xl-0"
          >
            <template slot="footer">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
            </template>
          </stats-card>
        </div>
      </template>

      <template v-slot:table-rows>
        <tr v-for="(discount, index) in discounts.data" :key="discount.id">
          <th>
            {{ index + 1 }}
          </th>
          <td>
            {{ discount.discountName | uppercase }}
          </td>
          <th class="font-weight-black">
            {{ discount.totalDiscount | discount }}
          </th>
          <td>
            {{ discount.expiredAt | readableDate }}
          </td>
          <td>
            {{ discount.createdAt | readableDate }}
          </td>
          <td>
            <action-btn
              :moduleName="moduleName"
              :record="discount"
              @fill-data="fillData"
            >

            </action-btn>
          </td>
        </tr>
      </template>
    </crud-layout>
  </div>
</template>

<script>
import DiscountForm from '@/forms/DiscountForm.vue'
import { mapGetters } from 'vuex'
export default {
  data: () => ({
    columns: ['voucher code', 'total', 'expired at', 'created at'],
    moduleName: 'discount',
    formRecord: {},
    formComponent: DiscountForm
  }),
  computed: {
    ...mapGetters({
      discounts: 'discount/discounts'
    })
  },
  methods: {
    resetData() {
      this.formRecord = {
        discountName: '',
        totalDiscount: '',
        expiredAt: ''
      }
    },
    fillData(record) {
      for (let k in record) {
        this.$set(this.formRecord, k, record[k])
      }
    }
  }
}
</script>