<template>
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4">
                            <small>Enter Your Credentials</small>
                        </div>
                        <form role="form" @submit.prevent="login">
                            <base-input class="input-group-alternative mb-3"
                                        placeholder="Username"
                                        addon-left-icon="ni ni-single-02"
                                        v-model="username">
                            </base-input>

                            <base-input class="input-group-alternative"
                                        placeholder="Password"
                                        type="password"
                                        addon-left-icon="ni ni-lock-circle-open"
                                        v-model="password">
                            </base-input>
                            <div class="text-center">
                                <base-button type="primary" @click="login" class="my-4">Sign in</base-button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</template>
<script>
export default {
  name: 'login',
  data() {
    return {
      username: '',
      password: ''
    }
  },

  methods: {
    login() {
      this.$store.dispatch('auth/login', { username: this.username, password: this.password })
    }
  }
}
</script>
<style>
</style>
