<template>
  <div>
    <router-view></router-view>
    <crud-layout
      :columns="columns"
      :moduleName="moduleName"
      :data="orders"
      :hideCreateButton="true"
    >
      <template v-slot:stats>
        <div class="col-xl-3 col-lg-6">
          <stats-card title="Total traffic"
                      type="gradient-red"
                      sub-title="350,897"
                      icon="ni ni-active-40"
                      class="mb-4 mb-xl-0"
          >
            <template slot="footer">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
            </template>
          </stats-card>
        </div>
      </template>

      <template v-slot:table-rows>
        <tr v-for="(order, index) in orders.data" :key="order.id">
          <th class="font-weight-black">
            {{ index + 1 }}
          </th>
          <th>
            {{ order.user.username }} | {{ order.user.email }}
          </th>
          <td>
            {{ order.createdAt | readableDateTime }}
          </td>
          <th>
            {{ order.total | currency }}
          </th>
          <th>
            {{ order.subTotal | currency }}
          </th>
          <td>
            {{ order.discount.discountName }}
          </td>
          <td>
            <router-link :to="{ name: 'detail-order', params: { id: order.id } }">
              <base-button size="sm">
                <i class="ni ni-bold-up"></i>
              </base-button>
            </router-link>
          </td>
        </tr>
      </template>
    </crud-layout>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  data: () => ({
    columns: ['user', 'date', 'total', 'subTotal', 'voucher'],
    moduleName: 'order',
  }),
  computed: {
    ...mapGetters({
      orders: 'order/orders'
    })
  },
}
</script>