<template>
  <div>
    <crud-layout
      :columns="columns"
      :moduleName="moduleName"
      :formRecord="formRecord"
      :formComponent="formComponent"
      :data="categories"
      @reset-data="resetData"
    >
      <template v-slot:stats>
        <div class="col-xl-3 col-lg-6">
          <stats-card title="Total traffic"
                      type="gradient-red"
                      sub-title="350,897"
                      icon="ni ni-active-40"
                      class="mb-4 mb-xl-0"
          >
            <template slot="footer">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
            </template>
          </stats-card>
        </div>
      </template>

      <template v-slot:table-rows>
        <tr v-for="(category, index) in categories.data" :key="category.id">
          <th class="font-weight-black">
            {{ index + 1 }}
          </th>
          <td>
            <h5>{{ category.name | capitalize }}</h5>
          </td>
          <td>
            <action-btn
              :moduleName="moduleName"
              :record="category"
              :formRecord="formRecord"
              @fill-data="fillData"
            />
          </td>
        </tr>
      </template>
    </crud-layout>
  </div>
</template>

<script>
import ProductCategoryForm from '@/forms/ProductCategoryForm.vue'
import { mapGetters } from 'vuex'

export default {
  data: () => ({
    moduleName: 'productCategory',
    formRecord: {},
    formComponent: ProductCategoryForm,
    columns: ['name']
  }),

  computed: {
    ...mapGetters({
      categories: 'productCategory/categories'
    })
  },
  
  methods: {
    fillData(record) {
      for (let k in record) {
        this.$set(this.formRecord, k, record[k])
      }
    },
    resetData() {
      this.formRecord = {
        name: ''
      }
    }
  }
}
</script>