<template>
  <div>
    <router-view></router-view>
    <crud-layout
      :columns="columns"
      :formRecord="formRecord"
      :formComponent="formComponent"
      :moduleName="moduleName"
      :data="products"
      @reset-data="resetData"
      :customSubmitAction="submit"
    >
      <template v-slot:stats>
        <div class="col-xl-3 col-lg-6">
          <stats-card title="Total traffic"
                      type="gradient-red"
                      sub-title="350,897"
                      icon="ni ni-active-40"
                      class="mb-4 mb-xl-0"
          >

            <template slot="footer">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
            </template>
          </stats-card>
        </div>
      </template>

      <template v-slot:table-rows>
        <tr v-for="(product, index) in products.data" :key="product.id">
          <th>
            {{ index + 1 }}
          </th>
          <td>
            {{ product.code }}
          </td>
          <td>
            {{ product.name | capitalize }}
          </td>
          <td>
            {{ product.stock }}
          </td>
          <td>
            {{ product.price | currency }}
          </td>
          <td>
            {{ product.createdAt | readableDate }}
          </td>
          <td>
            <action-btn
              :moduleName="moduleName"
              :record="product"
              @fill-data="fillData"
            >
              <template v-slot:before>
                <base-button size="sm" @click="$router.push({ name: 'detail-product', params: { id: product.id } })" type="default">
                  <i class="ni ni-bold-up"></i>
                </base-button>
              </template>
            </action-btn>
          </td>
        </tr>
      </template>
    </crud-layout>
  </div>
</template>

<script>
import ProductForm from '@/forms/ProductForm.vue'
import http from '@/plugins/http'
import { toast } from '@/plugins/sweetAlert'
import { mapGetters, mapActions } from 'vuex'

http.defaults.headers['Authorization'] = `Bearer ${localStorage.getItem('admin_access_token')}`

export default {
  data: () => ({
    columns: ['code', 'name', 'stock', 'price', 'created at'],
    formRecord: {},
    formComponent: ProductForm,
    moduleName: 'product'
  }),
  computed: {
    ...mapGetters({
      products: 'product/products',
      isEditing: 'isEditing'
    })
  },
  methods: {
    ...mapActions({
      storeData: 'product/storeData',
      updateData: 'product/updateData'
    }),
    async submit() {
      const formData = new FormData()
      if (!this.isEditing) {
        formData.append('name', this.formRecord.name)
        formData.append('price', this.formRecord.price)
        formData.append('weight', this.formRecord.weight)
        formData.append('stock', this.formRecord.stock)
        formData.append('categoryId', this.formRecord.categoryId)
        formData.append('description', this.formRecord.description)
        formData.append('picture', this.formRecord.picture)
        const { data } = await this.storeData(formData)
        this.formRecord.tags.forEach(tag => {
          tag.productId = data.id
          try {
            http.post('/product-tag', { data: tag })
          } catch (error) {
            toast('Failed', 'error')
          }
        })
        this.formRecord.variants.forEach(variant => {
          variant.productId = data.id
          try {
            http.post('/variant', { data: variant })
          } catch (error) {
            toast('Failed', 'error')
          }
        })
      } else {
        formData.append('name', this.formRecord.name)
        formData.append('price', this.formRecord.price)
        formData.append('weight', this.formRecord.weight)
        formData.append('stock', this.formRecord.stock)
        formData.append('categoryId', this.formRecord.categoryId)
        formData.append('description', this.formRecord.description)
        formData.append('picture', this.formRecord.picture)
        const { data } = await this.updateData({ id: this.formRecord.id, data: formData })
        this.formRecord.tags.forEach(tag => {
          if (tag.id) {
            try {
              const id = tag.id
              tag.id = undefined
              tag.createdAt = undefined
              tag.updatedAt = undefined
              http.put(`/product-tag/${id}`, { data: tag })
            } catch (error) {
              toast('failed', 'error')
            }
          } else {
            tag.productId = data.id
            try {
              http.post('/product-tag', { data: tag })
            } catch (error) {
              toast('Failed', 'error')
            }
          }
        })
        this.formRecord.variants.forEach(variant => {
          if (variant.id) {
            try {
              const id = variant.id
              variant.id = undefined
              variant.createdAt = undefined
              variant.updatedAt = undefined
              http.put(`/variant/${id}`, { data: variant })
            } catch (error) {
              toast('Failed', 'error')
            }
          } else {
            variant.productId = data.id
            try {
              http.post('/variant', { data: variant })
            } catch (error) {
              toast('Failed', 'error')
            }
          }
        })
      }
    },
    fillData(record) {
      for (let k in record) {
        this.$set(this.formRecord, k, record[k])
      }
      if (this.formRecord.tags.length == 0) {
        this.$set(this.formRecord, 'tags', [
          {
            tagId: ''
          }
        ])
      }

      if (this.formRecord.variants.length == 0) {
        this.$set(this.formRecord, 'variants', [
          {
            color: '',
            size: '',
          }
        ])
      }
    },
    resetData() {
      this.formRecord = {
        name: '',
        price: '',
        weight: '',
        stock: '',
        description: '',
        categoryId: '',
        picture: '',
        tags: [
          {
            tagId: ''
          }
        ],
        variants: [
          {
            color: '',
            size: '',
          }
        ]
      }
    }
  }
}
</script>
