<template>
  <div>
    <crud-layout
      :columns="columns"
      :moduleName="moduleName"
      :formRecord="formRecord"
      :formComponent="formComponent"
      :data="tags"
      @reset-data="resetData"
    >
      <template v-slot:stats>
        <div class="col-xl-3 col-lg-6">
          <stats-card title="Total traffic"
                      type="gradient-red"
                      sub-title="350,897"
                      icon="ni ni-active-40"
                      class="mb-4 mb-xl-0"
          >
            <template slot="footer">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
            </template>
          </stats-card>
        </div>
      </template>

      <template v-slot:table-rows>
        <tr v-for="(tag, index) in tags.data" :key="tag.id">
          <th class="font-weight-black">
            {{ index + 1 }}
          </th>
          <td>
            {{ tag.name }}
          </td>
          <td>
            <action-btn 
              :record="tag"
              :moduleName="moduleName"
            />
          </td>
        </tr>
      </template>
    </crud-layout>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import TagForm from '@/forms/TagForm.vue'
export default {
  data: () => ({
    columns: ['name'],
    moduleName: 'tag',
    formRecord: {},
    formComponent: TagForm
  }),
  computed: {
    ...mapGetters({
      tags: 'tag/tags'
    })
  },
  methods: {
    fillData(record){
      for (let k in record) {
        this.$set(this.formRecord, k, record[k])
      }
    },
    resetData() {
      this.$set(this, 'formRecord', {
        name: ''
      })
    }
  }
} 
</script>
