<template>
  <div>
    <crud-layout
      :columns="columns"
      :moduleName="moduleName"
      :formRecord="formRecord"
      :formComponent="formComponent"
      :data="users"
      @reset-data="resetData"
      :customSubmitAction="submitForm"
    >
      <template v-slot:stats>
        <div class="col-xl-3 col-lg-6">
          <stats-card title="Total traffic"
                      type="gradient-red"
                      sub-title="350,897"
                      icon="ni ni-active-40"
                      class="mb-4 mb-xl-0"
          >
            <template slot="footer">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
            </template>
          </stats-card>
        </div>
      </template>

      <template v-slot:table-rows>
        <tr v-for="(user, index) in users.data" :key="user.id">
          <th class="font-weight-black">
            {{ index + 1 }}
          </th>
          <td>
            {{ user.firstname }} 
          </td>
          <td>
            {{ user.username }}
          </td>
          <td>
            {{ user.email }}
          </td>
          <td>
            <action-btn
              :record="user"
              :moduleName="moduleName"
              @fill-data="fillData"
            >

            </action-btn>
          </td>
        </tr>
      </template>
    </crud-layout>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import UserForm from '@/forms/UserForm.vue'
import http from '@/plugins/http'
export default {
  data: () => ({
    columns: ['first name', 'username', 'email'],
    moduleName: 'user',
    formRecord: {},
    formComponent: UserForm
  }),
  computed: {
    ...mapGetters({
      users: 'user/users',
      isEditing: 'isEditing'
    })
  },
  methods: {
    ...mapActions({
      storeData: 'user/storeData',
      updateData: 'user/updateData'
    }),
    async submitForm() {
      if (!this.isEditing) {
        const formData = {
          firstname: this.formRecord.firstname,
          lastname: this.formRecord.lastname,
          email: this.formRecord.email,
          password: this.formRecord.password,
          username: this.formRecord.username,
          phonenumber: this.formRecord.phonenumber
        }
        const { data } = await this.storeData(formData)
        this.formRecord.address.forEach(address => {
          address.userId = data.id
          http.post('/address', { data: address })
        })
      } else {
        const formData = {
          id: this.formRecord.id,
          firstname: this.formRecord.firstname,
          lastname: this.formRecord.lastname,
          email: this.formRecord.email,
          password: this.formRecord.password,
          username: this.formRecord.username,
          phonenumber: this.formRecord.phonenumber
        }
        const { data } = await this.updateData(formData)
        this.formRecord.address.forEach(address => {
          address.userId = data.id
          if (address.id) {
            const id = address.id
            address.id = undefined
            address.createdAt = undefined
            address.updatedAt = undefined
            http.put('/address/' + id, { data: address })
          } else {
            address.id = undefined
            address.createdAt = undefined
            address.updateAt = undefined
            http.post('/address', { data: address })
          }
        })
      }
    },
    fillData(record) {
      for (let k in record) {
        this.$set(this.formRecord, k, record[k])
      }
      if (!record.address) {
        this.$set(this.formRecord, 'address', [
          {
            address: '',
            provinceId: '',
            cityId: ''
          }
        ])
      }
    },
    resetData() {
      this.$set(this, 'formRecord', {
        firstname: '',
        lastname: '',
        email: '',
        password: '',
        phonenumber: '',
        address: [
          {
            address: '',
            cityId: '',
            provinceId: ''
          }
        ]
      })
    }
  }
}
</script>