<template>
  <div>
    <base-input 
      label="Voucher Code"
      placeholder="Voucher Code"
      v-model="formRecord.discountName"
      input-classes="form-control-alternative"
    />
    <base-input 
      label="Total Discount (%)"
      placeholder="Total Discount"
      v-model="formRecord.totalDiscount"
      input-classes="form-control-alternative"
      type="number"
    />
    <base-input
      addon-left-icon="ni ni-calendar-grid-58"
    >
      <flat-picker 
        slot-scope="{focus, blur}"
        @on-open="focus"
        @on-close="blur"
        :config="{ allowInput: true, dateFormat: 'd-m-Y' }"
        class="form-control datepicker"
        v-model="formRecord.expiredAt"
      />
    </base-input>
  </div>
</template>

<script>
import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";

export default {
  props: ['formRecord'],
  components: {flatPicker}
}
</script>