<template>
  <div>
    <base-input 
      alternative=""
      label="Category Name"
      input-classes="form-control-alternative"
      placeholder="Category Name"
      v-model="formRecord.name"
    />
  </div>
</template>

<script>
export default {
  props: ['formRecord']
}
</script>