<template>
  <div>
    <base-input 
      input-classes="form-control-alternative"
      placeholder="Product Name"
      label="Product Name"
      v-model="formRecord.name"
    />
    <div class="row">
      <div class="col">
        <base-input 
          type="number"
          input-classes="form-control-alternative"
          placeholder="Product Price"
          label="Product Price"
          v-model="formRecord.price"
        />
      </div>
      <div class="col">
        <base-input
          type="number"
          input-classes="form-control-alternative"
          placeholder="Product Stock"
          label="Product Stock"
          v-model="formRecord.stock" 
        />
      </div>
      <div class="col">
        <base-input
          type="number"
          input-classes="form-control-alternative"
          placeholder="Product Weight"
          label="Weight"
          v-model="formRecord.weight"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <base-input label="Product Category" input-classes="form-control-alternative">
          <select v-model="formRecord.categoryId" class="form-control form-control-alternative">
            <option value="">Choose Category</option>
            <option v-for="category in categories" :key="category.id" :value="category.id" :selected="formRecord.categoryId === category.id">
              {{ category.name }}
            </option>
          </select>
        </base-input>
      </div>
      <div class="col">
        <base-input label="Product Picture">
          <input type="file" @change="handleImage" class="form-control form-control-alternative">
        </base-input>
      </div>
    </div>

    <div v-for="(tag, index) in formRecord.tags" :key="`tags-${index}`" class="row">
      <div class="col">
        <base-input label="Select Tags">
          <select v-model="formRecord.tags[index].tagId" v class="form-control form-control-alternative">
            <option value="">Select Tag</option>
            <option :value="productTag.id" v-for="productTag in productTags" :key="productTag.id">
              {{ productTag.name }}
            </option>
          </select>
        </base-input>
      </div>
      <div class="col-2">
        <base-button size="sm" @click="injectTags">
          <i class="ni ni-fat-add"></i>
        </base-button>
        <base-button size="sm" v-show="formRecord.tags.length > 1" type="warning" @click="removeTags(index)">
          <i class="ni ni-fat-remove"></i>
        </base-button>
      </div>
    </div>

    <div class="row" v-for="(variant, index) in formRecord.variants" :key="`variants-${index}`">
      <div class="col-5">
        <base-input 
          label="Color"
          placeholder="Color"
          v-model="variant.color"
          input-classes="form-control-alternative"
        />
      </div>
      <div class="col-5">
        <base-input 
          type="number"
          label="Size"
          placeholder="Size"
          v-model="variant.size"
          input-classes="form-control-alternative"
        />
      </div>
      <div class="col">
        <base-button size="sm" @click="injectVariants">
          <i class="ni ni-fat-add"></i>
        </base-button>
        <base-button size="sm" type="warning" v-show="formRecord.variants.length > 1" @click="removeVariants(index)">
          <i class="ni ni-fat-remove"></i>
        </base-button>
      </div>
    </div>

    <base-input label="Description">
      <textarea cols="30" rows="10" v-model="formRecord.description" class="form-control form-control-alternative"></textarea>
    </base-input>
  </div>
</template>

<script>
import http from '@/plugins/http'
import { toast } from '@/plugins/sweetAlert'
export default {
  props: ['formRecord'],
  data: () => ({
    productTags: [],
    categories: []
  }),
  methods: {
    handleImage(e) {
      this.formRecord.picture = e.target.files[0]
    },
    async fetchTags() {
      try {
        const { data } = await http.get('/tags')
        this.productTags = data.data.data
      } catch ({ message }) {
        toast('Error while fetching tags', 'error')
      }
    },
    async fetchCategories() {
      try {
        const { data } = await http.get('/category')
        this.categories = data.data.data
      } catch (error) {
        toast('Error while fetching tags', 'error')
      }
    },
    injectVariants() {
      this.formRecord.variants.push({
        color: '',
        size: '',
      })
    },
    removeVariants(i) {
      this.formRecord.variants.splice(i, 1)
    },
    injectTags() {
      this.formRecord.tags.push({
        tagId: '',
        productId: ''
      })
    },
    removeTags(i) {
      this.formRecord.tags.splice(i, 1)
    }
  },
  mounted() {
    this.fetchTags()
    this.fetchCategories()
  }
}
</script>