<template>
  <div>
    <base-input 
      label="Name"
      placeholder="Product Tag Name"
      v-model="formRecord.name"
      input-classes="form-control-alternative"
    />
  </div>
</template>

<script>
export default {
  props: ['formRecord']
}
</script>