<template>
  <div>
    <div class="row">
      <div class="col">
        <base-input 
          label="First Name"
          placeholder="Last Name"
          input-classes="form-control-alternative"
          v-model="formRecord.firstname"
        />
      </div>
      <div class="col">
        <base-input 
          label="First Name"
          placeholder="Last Name"
          input-classes="form-control-alternative"
          v-model="formRecord.lastname"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <base-input 
          label="Email Address"
          placeholder="Email Address"
          input-classes="form-control-alternative"
          v-model="formRecord.email"
          type="email"
        />
      </div>
      <div class="col">
        <base-input 
          label="Username"
          placeholder="Username"
          input-classes="form-control-alternative"
          v-model="formRecord.username"
        />
      </div>
    </div>
    <base-input 
      label="Password"
      placeholder="Password"
      input-classes="form-control-alternative"
      v-model="formRecord.password"
      type="password"
    />
    <base-input 
      label="Phone Number"
      placeholder="Phone Number"
      input-classes="form-control-alternative"
      v-model="formRecord.phonenumber"
    />
    <div v-for="(address, index) in formRecord.address" :key="index">
      <base-input 
        label="Address"
      >
        <textarea v-model="address.address" class="form-control form-control-alternative" cols="30" rows="4"></textarea>
      </base-input>
      <div class="row">
        <div class="col">
          <base-input
            label="Province"
          >
            <select class="form-control-alternative form-control" @change="fetchCities(address.provinceId, index)" v-model="address.provinceId">
              <option value="">Choose Province</option>
              <option :value="province.province_id" v-for="province in provinces" :key="province.province_id">
                {{ province.province | capitalize }}
              </option>
            </select>
          </base-input>
        </div>
        <div v-show="address.provinceId !== ''" class="col">
          <base-input
            label="City"
          >
            <select v-model="address.cityId" class="form-control form-control-alternative">
              <option value="">Choose City</option>
              <option :value="city.city_id" v-for="city in cities" :key="city.city_id">
                {{ city.city_name | capitalize }}
              </option>
            </select>
          </base-input>
        </div>
        <div class="col-2">
          <base-button size="sm" @click="injectAddress()">
            <i class="ni ni-fat-add"></i>
          </base-button>
          <base-button size="sm" v-show="formRecord.address.length > 1" type="danger" @click="removeAddress(index)">
            <i class="ni ni-fat-remove"></i>
          </base-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import http from '@/plugins/http'
export default {
  props: ['formRecord'],
  data: () => ({
    provinces: [],
    cities: []
  }),
  methods: {
    async fetchProvinces() {
      const { data } = await http.get('/provinces')
      this.$set(this, 'provinces', data.results)
    },
    async fetchCities(i, fi) {
      this.$set(this.formRecord.address[fi], 'cityId', '')
      const { data } = await http.get('/cities/' + i)
      this.$set(this, 'cities', data.results)
    },
    injectAddress() {
      this.formRecord.address.push({
        address: '',
        provinceId: '',
        cityId: ''
      })
    },
    removeAddress(i) {
      this.formRecord.address.splice(i, 1)
    }
  },
  mounted() {
    this.fetchProvinces()
  }
}
</script>