<template>
  <div>
    <modal :show.sync="showDetailModal">
      <template v-slot:header>
        <h4 class="font-weight-black">
          PRODUCT # {{ product.code }} | {{ product.name }}
        </h4>
      </template>

      <div class="row">
        <div class="col">
          <table class="table table-borderless">
            <tr>
              <td>Price</td>
              <th>{{ product.price | currency }}</th>
            </tr>
            <tr>
              <td>Weight</td>
              <th>{{ product.weight }} Kg</th>
            </tr>
            <tr>
              <td>Stock</td>
              <th>{{ product.stock }} Pcs</th>
            </tr>
            <tr>
              <td>Category</td>
              <th>{{ product.category.name }}</th>
            </tr>
            <tr>
              <td>Created By</td>
              <th>
                {{ product.admin.username }}
              </th>
            </tr>
          </table>
        </div>
        <div class="col">
          <h3 class="font-weight-black">Variants</h3>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Color</th>
                <th>Size</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="variant in product.variants" :key="variant.id">
                <td>{{ variant.color | uppercase }}</td>
                <td>{{ variant.size }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </modal>   
  </div>  
</template>
<script>
import http from '@/plugins/http'
export default {
  data: () => ({
    showDetailModal: true,
    product: {}
  }),
  watch: {
    showDetailModal: function() {
      this.$router.push({ name: 'products' })
    }
  },
  methods: {
    async fetchProduct() {
      const { data } = await http.get(`/product/${this.$route.params.id}?include=admin,orders`)
      // this.$set(this, 'products', data.data)
      this.product = data.data
    }
  },
  created() {
    this.fetchProduct()
  }
}
</script>
